In [1]:
import pandas as pd
import time
import datetime
import requests
import numpy as np

In [2]:

def read_ticker(ticker):
    period1 = int(time.mktime(datetime.datetime(2000, 1, 1, 0, 0).timetuple()))
    period2 = int(time.mktime(datetime.datetime(2023, 6, 26, 23, 59).timetuple()))
    interval = '1d' # 1d, 1m

    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history'
    df = pd.read_csv(query_string, index_col=0, parse_dates=True)
    return df

In [3]:
NASDAQ100_stocklist=["ABNB",
"ALGN",
"AMD",
"CEG",
"AMZN",
"AMGN",
"AEP",
"ADI",
"ANSS",
"AAPL",
"AMAT",
"GEHC",
"ASML",
"TEAM",
"ADSK",
"ATVI",
"ADP",
"AZN",
"BKR",
"AVGO",
"BIIB",
"BKNG",
"CDNS",
"ADBE",
"CHTR",
"CPRT",
"CSGP",
"CRWD",
"CTAS",
"CSCO",
"CMCSA",
"COST",
"CSX",
"CTSH",
"DDOG",
"DXCM",
"FANG",
"DLTR",
"EA",
"EBAY",
"ENPH",
"ON",
"EXC",
"FAST",
"GFS",
"META",
"FI",
"FTNT",
"GILD",
"GOOG",
"GOOGL",
"HON",
"ILMN",
"INTC",
"INTU",
"ISRG",
"MRVL",
"IDXX",
"JD",
"KDP",
"KLAC",
"KHC",
"LRCX",
"LCID",
"LULU",
"MELI",
"MAR",
"MCHP",
"MDLZ",
"MRNA",
"MNST",
"MSFT",
"MU",
"NFLX",
"NVDA",
"NXPI",
"ODFL",
"ORLY",
"PCAR",
"PANW",
"PAYX",
"PDD",
"PYPL",
"PEP",
"QCOM",
"REGN",
"ROST",
"SIRI",
"SGEN",
"SBUX",
"SNPS",
"TSLA",
"TXN",
"TMUS",
"VRSK",
"VRTX",
"WBA",
"WBD",
"WDAY",
"XEL",
"ZM",
"ZS",
'NDX']

In [4]:
# NASDAQ100_stocklist = [
# "MMM",
# "ILMN",
# "DLTR",
# "HON",
# "FTNT",
# "CSGP",
# "INTU",
# "PCAR",
# "ATVI",
# "MDLZ",
# "AMGN",
# "MELI",
# "ZM",
# "CEG",
# "BKR",
# "META",
# "MCHP",
# "ZS",
# "VRSK",
# "MRNA",
# "AMAT",
# "SIRI",
# "MRVL",
# "KDP",
# "ENPH",
# "MAR",
# "AZN",
# "SBUX",
# "TSLA",
# "JD",
# 'NDX',
# ]

df_list = {}

for ticker in NASDAQ100_stocklist:
    print(ticker)
    df_list[ticker] = read_ticker(ticker)

ABNB
ALGN
AMD
CEG
AMZN
AMGN
AEP
ADI
ANSS
AAPL
AMAT
GEHC
ASML
TEAM
ADSK
ATVI
ADP
AZN
BKR
AVGO
BIIB
BKNG
CDNS
ADBE
CHTR
CPRT
CSGP
CRWD
CTAS
CSCO
CMCSA
COST
CSX
CTSH
DDOG
DXCM
FANG
DLTR
EA
EBAY
ENPH
ON
EXC
FAST
GFS
META
FI
FTNT
GILD
GOOG
GOOGL
HON
ILMN
INTC
INTU
ISRG
MRVL
IDXX
JD
KDP
KLAC
KHC
LRCX
LCID
LULU
MELI
MAR
MCHP
MDLZ
MRNA
MNST
MSFT
MU
NFLX
NVDA
NXPI
ODFL
ORLY
PCAR
PANW
PAYX
PDD
PYPL
PEP
QCOM
REGN
ROST
SIRI
SGEN
SBUX
SNPS
TSLA
TXN
TMUS
VRSK
VRTX
WBA
WBD
WDAY
XEL
ZM
ZS
NDX

In [5]:
for ticker, stock_df in df_list.items():
    print('ticker: {} -> {}'.format(ticker, stock_df.index.min()))

ticker: ABNB -> 2020-12-10 00:00:00
ticker: ALGN -> 2001-01-30 00:00:00
ticker: AMD -> 1999-12-31 00:00:00
ticker: CEG -> 2022-01-19 00:00:00
ticker: AMZN -> 1999-12-31 00:00:00
ticker: AMGN -> 1999-12-31 00:00:00
ticker: AEP -> 1999-12-31 00:00:00
ticker: ADI -> 1999-12-31 00:00:00
ticker: ANSS -> 1999-12-31 00:00:00
ticker: AAPL -> 1999-12-31 00:00:00
ticker: AMAT -> 1999-12-31 00:00:00
ticker: GEHC -> 2022-12-15 00:00:00
ticker: ASML -> 1999-12-31 00:00:00
ticker: TEAM -> 2015-12-09 00:00:00
ticker: ADSK -> 1999-12-31 00:00:00
ticker: ATVI -> 1999-12-31 00:00:00
ticker: ADP -> 1999-12-31 00:00:00
ticker: AZN -> 1999-12-31 00:00:00
ticker: BKR -> 1999-12-31 00:00:00
ticker: AVGO -> 2009-08-06 00:00:00
ticker: BIIB -> 1999-12-31 00:00:00
ticker: BKNG -> 1999-12-31 00:00:00
ticker: CDNS -> 1999-12-31 00:00:00
ticker: ADBE -> 1999-12-31 00:00:00
ticker: CHTR -> 2010-01-05 00:00:00
ticker: CPRT -> 1999-12-31 00:00:00
ticker: CSGP -> 1999-12-31 00:00:00
ticker: CRWD -> 2019-06-12 00:00:00
ticker: CTAS -> 1999-12-31 00:00:00
ticker: CSCO -> 1999-12-31 00:00:00
ticker: CMCSA -> 1999-12-31 00:00:00
ticker: COST -> 1999-12-31 00:00:00
ticker: CSX -> 1999-12-31 00:00:00
ticker: CTSH -> 1999-12-31 00:00:00
ticker: DDOG -> 2019-09-19 00:00:00
ticker: DXCM -> 2005-04-14 00:00:00
ticker: FANG -> 2012-10-12 00:00:00
ticker: DLTR -> 1999-12-31 00:00:00
ticker: EA -> 1999-12-31 00:00:00
ticker: EBAY -> 1999-12-31 00:00:00
ticker: ENPH -> 2012-03-30 00:00:00
ticker: ON -> 2000-05-02 00:00:00
ticker: EXC -> 1999-12-31 00:00:00
ticker: FAST -> 1999-12-31 00:00:00
ticker: GFS -> 2021-10-28 00:00:00
ticker: META -> 2012-05-18 00:00:00
ticker: FI -> 1999-12-31 00:00:00
ticker: FTNT -> 2009-11-18 00:00:00
ticker: GILD -> 1999-12-31 00:00:00
ticker: GOOG -> 2004-08-19 00:00:00
ticker: GOOGL -> 2004-08-19 00:00:00
ticker: HON -> 1999-12-31 00:00:00
ticker: ILMN -> 2000-07-28 00:00:00
ticker: INTC -> 1999-12-31 00:00:00
ticker: INTU -> 1999-12-31 00:00:00
ticker: ISRG -> 2000-06-16 00:00:00
ticker: MRVL -> 2000-06-30 00:00:00
ticker: IDXX -> 1999-12-31 00:00:00
ticker: JD -> 2014-05-22 00:00:00
ticker: KDP -> 2008-05-07 00:00:00
ticker: KLAC -> 1999-12-31 00:00:00
ticker: KHC -> 2015-07-06 00:00:00
ticker: LRCX -> 1999-12-31 00:00:00
ticker: LCID -> 2020-09-18 00:00:00
ticker: LULU -> 2007-07-27 00:00:00
ticker: MELI -> 2007-08-10 00:00:00
ticker: MAR -> 1999-12-31 00:00:00
ticker: MCHP -> 1999-12-31 00:00:00
ticker: MDLZ -> 2001-06-13 00:00:00
ticker: MRNA -> 2018-12-07 00:00:00
ticker: MNST -> 1999-12-31 00:00:00
ticker: MSFT -> 1999-12-31 00:00:00
ticker: MU -> 1999-12-31 00:00:00
ticker: NFLX -> 2002-05-23 00:00:00
ticker: NVDA -> 1999-12-31 00:00:00
ticker: NXPI -> 2010-08-06 00:00:00
ticker: ODFL -> 1999-12-31 00:00:00
ticker: ORLY -> 1999-12-31 00:00:00
ticker: PCAR -> 1999-12-31 00:00:00
ticker: PANW -> 2012-07-20 00:00:00
ticker: PAYX -> 1999-12-31 00:00:00
ticker: PDD -> 2018-07-26 00:00:00
ticker: PYPL -> 2015-07-06 00:00:00
ticker: PEP -> 1999-12-31 00:00:00
ticker: QCOM -> 1999-12-31 00:00:00
ticker: REGN -> 1999-12-31 00:00:00
ticker: ROST -> 1999-12-31 00:00:00
ticker: SIRI -> 1999-12-31 00:00:00
ticker: SGEN -> 2001-03-09 00:00:00
ticker: SBUX -> 1999-12-31 00:00:00
ticker: SNPS -> 1999-12-31 00:00:00
ticker: TSLA -> 2010-06-29 00:00:00
ticker: TXN -> 1999-12-31 00:00:00
ticker: TMUS -> 2007-04-19 00:00:00
ticker: VRSK -> 2009-10-07 00:00:00
ticker: VRTX -> 1999-12-31 00:00:00
ticker: WBA -> 1999-12-31 00:00:00
ticker: WBD -> 2005-07-08 00:00:00
ticker: WDAY -> 2012-10-12 00:00:00
ticker: XEL -> 1999-12-31 00:00:00
ticker: ZM -> 2019-04-18 00:00:00
ticker: ZS -> 2018-03-16 00:00:00
ticker: NDX -> 1999-12-31 00:00:00

In [6]:
min_date = max(list([stock_df.index.min() for stock_df in df_list.values()]))
max_date = min(list([stock_df.index.max() for stock_df in df_list.values()]))

In [11]:
for stock in df_list.keys():
    if df_list[stock].index.min().year > 2013:
        print(stock)

ABNB
CEG
GEHC
TEAM
CRWD
DDOG
GFS
JD
KHC
LCID
MRNA
PDD
PYPL
ZM
ZS

In [7]:
min_date

Timestamp('2022-12-15 00:00:00')

In [12]:
key_list = [k for k in df_list.keys()]
for key in key_list:
    current_df = df_list[key]
    print(f'Ticker {key}: {current_df.index.min()}')
    if current_df.index.min().year >= 2013:
        del df_list[key]
        print(f'Deleted Ticker {key}')

Ticker ABNB: 2020-12-10 00:00:00
Deleted Ticker ABNB
Ticker ALGN: 2001-01-30 00:00:00
Ticker AMD: 1999-12-31 00:00:00
Ticker CEG: 2022-01-19 00:00:00
Deleted Ticker CEG
Ticker AMZN: 1999-12-31 00:00:00
Ticker AMGN: 1999-12-31 00:00:00
Ticker AEP: 1999-12-31 00:00:00
Ticker ADI: 1999-12-31 00:00:00
Ticker ANSS: 1999-12-31 00:00:00
Ticker AAPL: 1999-12-31 00:00:00
Ticker AMAT: 1999-12-31 00:00:00
Ticker GEHC: 2022-12-15 00:00:00
Deleted Ticker GEHC
Ticker ASML: 1999-12-31 00:00:00
Ticker TEAM: 2015-12-09 00:00:00
Deleted Ticker TEAM
Ticker ADSK: 1999-12-31 00:00:00
Ticker ATVI: 1999-12-31 00:00:00
Ticker ADP: 1999-12-31 00:00:00
Ticker AZN: 1999-12-31 00:00:00
Ticker BKR: 1999-12-31 00:00:00
Ticker AVGO: 2009-08-06 00:00:00
Ticker BIIB: 1999-12-31 00:00:00
Ticker BKNG: 1999-12-31 00:00:00
Ticker CDNS: 1999-12-31 00:00:00
Ticker ADBE: 1999-12-31 00:00:00
Ticker CHTR: 2010-01-05 00:00:00
Ticker CPRT: 1999-12-31 00:00:00
Ticker CSGP: 1999-12-31 00:00:00
Ticker CRWD: 2019-06-12 00:00:00
Deleted Ticker CRWD
Ticker CTAS: 1999-12-31 00:00:00
Ticker CSCO: 1999-12-31 00:00:00
Ticker CMCSA: 1999-12-31 00:00:00
Ticker COST: 1999-12-31 00:00:00
Ticker CSX: 1999-12-31 00:00:00
Ticker CTSH: 1999-12-31 00:00:00
Ticker DDOG: 2019-09-19 00:00:00
Deleted Ticker DDOG
Ticker DXCM: 2005-04-14 00:00:00
Ticker FANG: 2012-10-12 00:00:00
Ticker DLTR: 1999-12-31 00:00:00
Ticker EA: 1999-12-31 00:00:00
Ticker EBAY: 1999-12-31 00:00:00
Ticker ENPH: 2012-03-30 00:00:00
Ticker ON: 2000-05-02 00:00:00
Ticker EXC: 1999-12-31 00:00:00
Ticker FAST: 1999-12-31 00:00:00
Ticker GFS: 2021-10-28 00:00:00
Deleted Ticker GFS
Ticker META: 2012-05-18 00:00:00
Ticker FI: 1999-12-31 00:00:00
Ticker FTNT: 2009-11-18 00:00:00
Ticker GILD: 1999-12-31 00:00:00
Ticker GOOG: 2004-08-19 00:00:00
Ticker GOOGL: 2004-08-19 00:00:00
Ticker HON: 1999-12-31 00:00:00
Ticker ILMN: 2000-07-28 00:00:00
Ticker INTC: 1999-12-31 00:00:00
Ticker INTU: 1999-12-31 00:00:00
Ticker ISRG: 2000-06-16 00:00:00
Ticker MRVL: 2000-06-30 00:00:00
Ticker IDXX: 1999-12-31 00:00:00
Ticker JD: 2014-05-22 00:00:00
Deleted Ticker JD
Ticker KDP: 2008-05-07 00:00:00
Ticker KLAC: 1999-12-31 00:00:00
Ticker KHC: 2015-07-06 00:00:00
Deleted Ticker KHC
Ticker LRCX: 1999-12-31 00:00:00
Ticker LCID: 2020-09-18 00:00:00
Deleted Ticker LCID
Ticker LULU: 2007-07-27 00:00:00
Ticker MELI: 2007-08-10 00:00:00
Ticker MAR: 1999-12-31 00:00:00
Ticker MCHP: 1999-12-31 00:00:00
Ticker MDLZ: 2001-06-13 00:00:00
Ticker MRNA: 2018-12-07 00:00:00
Deleted Ticker MRNA
Ticker MNST: 1999-12-31 00:00:00
Ticker MSFT: 1999-12-31 00:00:00
Ticker MU: 1999-12-31 00:00:00
Ticker NFLX: 2002-05-23 00:00:00
Ticker NVDA: 1999-12-31 00:00:00
Ticker NXPI: 2010-08-06 00:00:00
Ticker ODFL: 1999-12-31 00:00:00
Ticker ORLY: 1999-12-31 00:00:00
Ticker PCAR: 1999-12-31 00:00:00
Ticker PANW: 2012-07-20 00:00:00
Ticker PAYX: 1999-12-31 00:00:00
Ticker PDD: 2018-07-26 00:00:00
Deleted Ticker PDD
Ticker PYPL: 2015-07-06 00:00:00
Deleted Ticker PYPL
Ticker PEP: 1999-12-31 00:00:00
Ticker QCOM: 1999-12-31 00:00:00
Ticker REGN: 1999-12-31 00:00:00
Ticker ROST: 1999-12-31 00:00:00
Ticker SIRI: 1999-12-31 00:00:00
Ticker SGEN: 2001-03-09 00:00:00
Ticker SBUX: 1999-12-31 00:00:00
Ticker SNPS: 1999-12-31 00:00:00
Ticker TSLA: 2010-06-29 00:00:00
Ticker TXN: 1999-12-31 00:00:00
Ticker TMUS: 2007-04-19 00:00:00
Ticker VRSK: 2009-10-07 00:00:00
Ticker VRTX: 1999-12-31 00:00:00
Ticker WBA: 1999-12-31 00:00:00
Ticker WBD: 2005-07-08 00:00:00
Ticker WDAY: 2012-10-12 00:00:00
Ticker XEL: 1999-12-31 00:00:00
Ticker ZM: 2019-04-18 00:00:00
Deleted Ticker ZM
Ticker ZS: 2018-03-16 00:00:00
Deleted Ticker ZS
Ticker NDX: 1999-12-31 00:00:00

In [14]:
index = pd.date_range(start=min_date, end=max_date, freq='D')
stock_price_df = pd.DataFrame(index=index)
for key, ticker_df in df_list.items():
    stock_price_df = pd.concat([stock_price_df, ticker_df[['Close']]], axis=1)
    stock_price_df.rename(columns={'Close': key}, inplace=True)

In [15]:
stock_price_df

,ALGN,AMD,AMZN,AMGN,AEP,ADI,ANSS,AAPL,AMAT,ASML,...,TSLA,TXN,TMUS,VRSK,VRTX,WBA,WBD,WDAY,XEL,NDX
1999-12-31,NaN,14.468750,3.806250,60.062500,32.125000,46.500000,2.750000,0.917969,31.671875,42.656250,...,NaN,48.312500,NaN,NaN,17.500000,29.250000,NaN,NaN,19.500000,3707.830078
2000-01-03,NaN,15.500000,4.468750,62.937500,31.437500,45.093750,2.765625,0.999442,31.625000,43.640625,...,NaN,51.437500,NaN,NaN,18.781250,28.562500,NaN,NaN,19.000000,3790.550049
2000-01-04,NaN,14.625000,4.096875,58.125000,31.812500,42.812500,2.687500,0.915179,30.062500,40.734375,...,NaN,49.250000,NaN,NaN,17.281250,27.500000,NaN,NaN,19.437500,3546.199951
2000-01-05,NaN,15.000000,3.487500,60.125000,33.000000,43.437500,2.703125,0.928571,28.937500,39.609375,...,NaN,48.062500,NaN,NaN,17.000000,27.812500,NaN,NaN,20.187500,3507.310059
2000-01-06,NaN,16.000000,3.278125,61.125000,33.187500,42.250000,2.703125,0.848214,28.984375,37.171875,...,NaN,46.750000,NaN,NaN,16.750000,27.000000,NaN,NaN,20.000000,3340.810059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-20,331.429993,118.930000,125.779999,228.589996,84.540001,187.979996,331.309998,185.009995,138.520004,720.409973,...,274.450012,174.360001,131.229996,225.970001,342.690002,32.389999,12.19,223.740005,63.070000,15070.150391
2023-06-21,330.709991,112.110001,124.830002,227.039993,85.449997,185.440002,325.049988,183.960007,136.669998,707.299988,...,259.459991,170.479996,132.679993,227.220001,343.279999,31.559999,12.37,219.830002,62.810001,14867.450195
2023-06-22,334.399994,110.699997,130.149994,229.660004,85.099998,186.110001,325.679993,187.000000,138.919998,717.409973,...,264.609985,172.630005,134.339996,228.009995,348.160004,31.889999,12.09,221.000000,62.759998,15042.320313
2023-06-23,328.829987,110.010002,129.330002,227.110001,83.489998,185.940002,319.540009,186.679993,136.070007,697.890015,...,256.600006,167.679993,132.800003,224.350006,347.000000,31.400000,11.79,222.250000,62.099998,14891.480469

In [16]:
stock_price_df.isna().sum()

ALGN     333
AMD       61
AMZN      61
AMGN      61
AEP       61
        ...
WBA       61
WBD     1447
WDAY    3278
XEL       61
NDX       61
Length: 88, dtype: int64

In [17]:
stock_price_df.dropna(inplace=True)

In [18]:
stock_price_df

,ALGN,AMD,AMZN,AMGN,AEP,ADI,ANSS,AAPL,AMAT,ASML,...,TSLA,TXN,TMUS,VRSK,VRTX,WBA,WBD,WDAY,XEL,NDX
2012-10-12,36.560001,2.740000,12.118000,84.000000,44.119999,38.110001,69.550003,22.489643,10.900000,52.990002,...,1.842667,27.280001,23.760000,47.029999,53.529999,35.939999,31.037302,48.689999,27.620001,2720.139893
2012-10-15,36.869999,2.750000,12.209000,86.220001,44.509998,38.560001,70.309998,22.670000,10.960000,52.810001,...,1.822000,28.219999,22.660000,46.990002,53.240002,36.169998,31.440981,51.939999,27.740000,2739.870117
2012-10-16,38.270000,2.680000,12.197000,88.040001,44.560001,39.450001,71.330002,23.206785,11.200000,53.590000,...,1.870667,28.730000,22.040001,47.380001,53.290001,36.369999,31.614716,52.160000,27.830000,2778.379883
2012-10-17,35.410000,2.770000,12.374500,89.199997,45.020000,39.529999,71.480003,23.021786,11.160000,50.080002,...,1.921333,28.469999,21.900000,47.419998,53.950001,35.830002,31.292795,55.410000,28.209999,2775.620117
2012-10-18,28.180000,2.620000,12.242500,89.790001,45.270000,39.230000,70.750000,22.594286,11.190000,51.340000,...,1.869333,28.760000,22.299999,46.959999,52.630001,36.110001,31.563618,53.419998,28.270000,2744.169922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16,330.290009,120.080002,125.489998,229.660004,84.930000,188.360001,334.369995,184.919998,138.929993,721.880005,...,260.540009,176.759995,130.929993,224.520004,347.890015,32.669998,12.800000,222.399994,63.919998,15083.919922
2023-06-20,331.429993,118.930000,125.779999,228.589996,84.540001,187.979996,331.309998,185.009995,138.520004,720.409973,...,274.450012,174.360001,131.229996,225.970001,342.690002,32.389999,12.190000,223.740005,63.070000,15070.150391
2023-06-21,330.709991,112.110001,124.830002,227.039993,85.449997,185.440002,325.049988,183.960007,136.669998,707.299988,...,259.459991,170.479996,132.679993,227.220001,343.279999,31.559999,12.370000,219.830002,62.810001,14867.450195
2023-06-22,334.399994,110.699997,130.149994,229.660004,85.099998,186.110001,325.679993,187.000000,138.919998,717.409973,...,264.609985,172.630005,134.339996,228.009995,348.160004,31.889999,12.090000,221.000000,62.759998,15042.320313
2023-06-23,328.829987,110.010002,129.330002,227.110001,83.489998,185.940002,319.540009,186.679993,136.070007,697.890015,...,256.600006,167.679993,132.800003,224.350006,347.000000,31.400000,11.790000,222.250000,62.099998,14891.480469

In [19]:
stock_price_df.to_csv('data/NASDAQ100.csv')